# Build directory
build/
cmake-build*

# End-to-End data
e2e_data/*
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.jar

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Local aux files (IDE, etc)
.idea

# vim files
*.swp

# ctags generated tag file
src/tags
