header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

body {
    background-color: rgb(112, 112, 122);
}

#content {
    /* border: 1px solid #66757D; */
    box-shadow: 4px 4px 4px rgb(24, 24, 24);
    background-color: rgb(224, 224, 224);
    min-width: 810px;
    max-width: 1080px;
    margin: 30px auto;
    padding: 10px;
    font-size: 15px;
    padding-left: 80px;
    border-radius: 7px
}

#main {
    min-width: 810px;
    max-width: 1080px;
    margin: 30px auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px
}

.area {
    min-width: 810px;
    max-width: 1080px;
    margin: 30px auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px
}

table {
    box-shadow: 4px 4px 4px rgb(112, 112, 112);
    background-color: rgb(248, 248, 248);
    min-width: 810px;
    max-width: 810px;
    margin: 30px 0px;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px
}

#time {
    margin: 30px 0px;
    padding: 10px;
    font-size: 15px;
}

td {
    border: 1px solid black;
}

label {
    font-size: 25px;
    margin: 30px 5px 10px;
}

#input {
    min-width: 810px;
    max-width: 810px;
}

textarea {
    background-color: rgb(248, 248, 248);
    width: 790px;
    margin: 30px auto 10px;
    padding: 10px;
}

#runbtn {
    padding: 8px;
}

.list {
    width: 720px;
    font-family: Georgia, Times, serif;
    font-size: 15px;
}

.list ul {
    list-style: none;
}

.list ul li {
    display: block;
    color: #000000;
    background-color: #FFFFFF;
    line-height: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
    padding-left: 10px;
}

.list ul li strong {
    margin-right: 10px;
}
