name: CPP17 libQLever

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  merge_group:

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04

    env:
      warnings:   ""
      build-type: Release
      expensive-tests: true
      compiler: gcc
      compiler-version: 8

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Rewrite using enum to C++17 compatible code
        run: |
          chmod +x run-enum-rewriter-docker.sh
          ./run-enum-rewriter-docker.sh

      - name: Install dependencies
        uses: ./.github/workflows/install-dependencies-ubuntu
      - name: Install compiler
        uses: ./.github/workflows/install-compiler-ubuntu
        with:
          compiler: ${{env.compiler}}
          compiler-version: ${{env.compiler-version}}
      - name: Configure CMake
        # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
        # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.build-type}} -DCMAKE_TOOLCHAIN_FILE="$(pwd)/toolchains/${{env.compiler}}${{env.compiler-version}}.cmake" -DADDITIONAL_COMPILER_FLAGS="${{env.warnings}}" -DUSE_PARALLEL=true -DRUN_EXPENSIVE_TESTS=${{env.expensive-tests}} -DENABLE_EXPENSIVE_CHECKS=true -DREDUCED_FEATURE_SET_FOR_CPP17=ON -DUSE_CPP_17_BACKPORTS=ON -DCMAKE_CXX_STANDARD=17 -DCOMPILER_VERSION_CHECK_DEACTIVATED=ON -DADDITIONAL_LINKER_FLAGS="-B /usr/bin/mold"

      - name: Build
        # Build your program with the given configuration
        run: |
          set -o pipefail # the `tee` will never fail, but the `build` command might. We want to fail if the build fails.
          cmake --build ${{github.workspace}}/build --target QleverTest --config ${{env.build-type}} -- -i -k -j $(nproc) 2>&1 | tee /tmp/build.log
        id: build

      - name: Run gcc8 log analyzer
        run: |
          python ${{ github.workspace }}/misc/gcc8_logs_analyzer.py /tmp/build.log --on-github
        id: gcc8_log_analyzer
