name: Docker build and publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  # When this is not a pull request, then we want all the docker containers to be pushed, we therefore
  # directly fall back to the commit hash which will be distinct for each push to master.
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.sha}}'
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-24.04
            prefix: amd64
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
            prefix: arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: adfreiburg/qlever
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build ${{ matrix.platform }}
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.platform }}
          # Only build, don't run on ARM
          load: ${{ matrix.platform == 'linux/amd64' }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: adfreiburg/qlever:${{ matrix.prefix }}-${{ github.sha }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}

      - name: E2E in Docker
        if: ${{ matrix.platform == 'linux/amd64' }}
        run: |
          sudo mkdir ${{github.workspace}}/e2e_data
          sudo chmod a+rwx ${{github.workspace}}/e2e_data
          sudo docker run -i --rm -v "${{github.workspace}}/e2e_data:/app/e2e_data/" --entrypoint e2e/e2e.sh adfreiburg/qlever:${{ matrix.prefix }}-${{ github.sha }}
  docker-merge:
    if: github.event_name != 'pull_request'
    needs: [ build ]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate image metadata
        id: meta
        uses: docker/metadata-action@v5
        env:
          # We build multiplatform images which have an image index above the
          # image manifests. Attach the annotations directly to the image index.
          DOCKER_METADATA_ANNOTATIONS_LEVELS: "index"
        with:
          images: adfreiburg/qlever
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get short sha
        id: sha
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Get PR number
        id: pr
        run: echo "pr_num=$(git log --format=%s -n 1 | sed -nr 's/.*\(\#([0-9]+)\)/\1/p')" >> $GITHUB_OUTPUT
      - name: Merge amd64 + arm64 images into multi-arch manifest
        run: >
          docker buildx imagetools create
            -t adfreiburg/qlever:latest
            -t adfreiburg/qlever:${{ github.ref_name == 'master' && format('pr-{0}', steps.pr.outputs.pr_num) || github.ref_name }}
            -t adfreiburg/qlever:commit-${{ steps.sha.outputs.sha_short }}
            $(printf " --annotation %s" "${{ steps.meta.outputs.annotations }}")
            adfreiburg/qlever:amd64-${{ github.sha }}
            adfreiburg/qlever:arm64-${{ github.sha }}
