name: Docker build and publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  # When this is not a pull request, then we want all the docker containers to be pushed, we therefore
  # directly fall back to the commit hash which will be distinct for each push to master.
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.sha}}'
  cancel-in-progress: true

jobs:
  docker-amd64:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate image metadata
        id: meta
        uses: docker/metadata-action@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build X-86-64
        uses: docker/build-push-action@v6
        with:
          context: .
          # Docker multiplatform images require an entry in their manifests. If this
          # entry is missing, then the images for each platform are considered seperate.
          # If this action runs on a single runner (i.e. the attribute `platforms`
          # contains a list of all platforms) then the manifest is configured automatically.
          # If the build and push is split over multiple runners, then the action requires an additional `merge`
          # job, which merges the images for each platform into a single multiplatform image.
          # References:
          # https://docs.docker.com/build/ci/github-actions/multi-platform/#distribute-build-across-multiple-runners
          # https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/
          platforms: linux/amd64
          load: true
          push: ${{ github.event_name != 'pull_request' }}
          tags: adfreiburg/qlever:amd64-${{ github.sha }}

      - name: E2E in Docker
        run: |
          sudo mkdir ${{github.workspace}}/e2e_data
          sudo chmod a+rwx ${{github.workspace}}/e2e_data
          sudo docker run -i --rm -v "${{github.workspace}}/e2e_data:/app/e2e_data/" --entrypoint e2e/e2e.sh adfreiburg/qlever:amd64-${{ github.sha }}
  docker-arm64:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate image metadata
        id: meta
        uses: docker/metadata-action@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build ARM-64
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64
          # Only build, don't run.
          load: false
          push: ${{ github.event_name != 'pull_request' }}
          tags: adfreiburg/qlever:arm64-${{ github.sha }}
  docker-push:
    if: github.event_name != 'pull_request'
    needs: [docker-amd64, docker-arm64]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate image metadata
        id: meta
        uses: docker/metadata-action@v5
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: "index"
        with:
          images: adfreiburg/qlever
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get short sha
        id: sha
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Get PR number
        id: pr
        run: echo "pr_num=$(git log --format=%s -n 1 | sed -nr 's/.*\(\#([0-9]+)\)/\1/p')" >> $GITHUB_OUTPUT
      - name: Build and push
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          images: |
            adfreiburg/qlever:amd64-${{ github.sha }}
            adfreiburg/qlever:arm64-${{ github.sha }}

          # If this is a push on master, publish with short commit sha
          # else use the ref name, which has to be the tag in this case.
          # We have to explicitly add the "qlever:latest" tag for it to work correctly,
          # see e.g. https://stackoverflow.com/questions/27643017/do-i-need-to-manually-tag-latest-when-pushing-to-docker-public-repository
          tags: >
            adfreiburg/qlever:latest,
            adfreiburg/qlever:${{ github.ref_name == 'master' && format('pr-{0}', steps.pr.outputs.pr_num) || github.ref_name }},
            adfreiburg/qlever:commit-${{ steps.sha.outputs.sha_short }},

          # Set Annotations and Labels that conform to the OpenContainers
          # Annotations Spec
          annotations: ${{ steps.meta.outputs.annotations }}
          labels: ${{ steps.meta.outputs.labels }}
