name: Format check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  merge_group:

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run:  |
            wget https://apt.llvm.org/llvm.sh
            sudo chmod +x llvm.sh
            sed   's/apt-key del/echo/' llvm.sh -iy
            sudo ./llvm.sh 16
            sudo apt install -y clang-format-16

      - name: Run the format checker
        run: ${{github.workspace}}/misc/format-check.sh

