name: "Native build to WebAssembly using Conan and Emscripten"

jobs:
  build:

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Install conan package manager
      run: | 
        sudo apt-get install pipx
        pipx ensurepath
        source ~/.bashrc
        pipx install conan
      shell: bash

    - name: Get build and host profiles for conan
      working-directory: ${{github.workspace}}
      run: |
        conan profile detect

    - name: Install and run conan. Also create a build directory.
      working-directory:  ${{github.workspace}}
      run: conan install . -pr:b default -pr:h emscripten.profile -s build_type=Release -b missing -of build

    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      run: cmake -S .. -B . -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=Release -DLOGLEVEL=INFO -DUSE_PARALLEL=true -D_NO_TIMING_TESTS=ON -D_EMSCRIPTEN_NO_INDEXBUILDER_AND_SERVER=ON -D_DISABLE_EMSCRIPTEN_PROBLEMATIC_TESTS=ON -GNinja

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: cmake --build .

    - name: Test
      working-directory: ${{github.workspace}}/build/test
      run: >
        source ../conanrun.sh;
        env CTEST_OUTPUT_ON_FAILURE=1 ctest -C Release .;

    - name: Running and printing the benchmark examples.
      working-directory: ${{github.workspace}}/build
      run: > 
        source ./conanrun.sh;
        benchmark/BenchmarkExamples -p;

      # explicitly specify the binary directory for the E2E script via the `-d` option to also
      # test that it works.
    - name: E2E
      run: >
        source ${{github.workspace}}/build/conanrun.sh;
        ${{github.workspace}}/e2e/e2e.sh -d build


