name: "Native build to WebAssembly using Conan and Emscripten"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        
    - name: Install conan package manager. Install curl, npm, nvm and nodejs.
      working-directory: ${{github.workspace}}
      run: |
        sudo apt-get install pipx
        pipx ensurepath
        source ~/.bashrc
        pipx install conan
        sudo apt install curl npm
        source ~/.bashrc
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
        export NVM_DIR="${HOME}/.nvm"
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
        [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
        source ~/.bashrc
        nvm install 25.2.1
        source ~/.bashrc
        node -v
        echo $PATH
        nvm use 25.2.1
        source ~/.bashrc
        cd /home/runner/.nvm/versions/node/v25.2.1/bin
        sudo ln -sf node /usr/bin/nodejs
        cd /usr/bin
        ls -lah
      shell: bash
    - name: Get build and host profiles for conan. Install and run conan. Also create a build directory. Configure CMake and build.
      working-directory: ${{github.workspace}}
      run: |
        conan profile detect
        sed -i 's/Release/Debug/g' $HOME/.conan2/profiles/default
        sed -i 's/Release/Debug/g' conanprofiles/emscripten.profile
        conan install . -pr:b default -pr:h conanprofiles/emscripten.profile -s build_type=Debug -b missing -of build
        cd build
        cmake -S .. -B . -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=DEBUG -DLOGLEVEL=INFO -DUSE_PARALLEL=true -D_NO_TIMING_TESTS=ON -D_EMSCRIPTEN_NO_INDEXBUILDER_AND_SERVER=ON -D_NO_BENCHMARK=ON -D_DISABLE_EMSCRIPTEN_PROBLEMATIC_TESTS=ON -DTEST_EXECUTOR=/home/runner/.nvm/versions/node/v25.2.1/bin/node -GNinja
        cmake --build .
      shell: bash  

    - name: Cache for conan
      uses: actions/cache@v3
      env:
        cache-name: cache-conan-with-emscripten-modules-ubuntu-24.04
      with:
        path: ~/.conan2
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('conanfile.txt', 'conanprofiles/emscripten.profile')}}

    - name: Test
      working-directory: ${{github.workspace}}/build/test
      run: >
        source ../conanrun.sh;
        env CTEST_OUTPUT_ON_FAILURE=1 ctest -C Release .;

    - name: Running and printing the benchmark examples.
      working-directory: ${{github.workspace}}/build
      run: >
        source ./conanrun.sh;
        benchmark/BenchmarkExamples -p;

      # explicitly specify the binary directory for the E2E script via the `-d` option to also
      # test that it works.
    - name: E2E
      run: >
        source ${{github.workspace}}/build/conanrun.sh;
        ${{github.workspace}}/e2e/e2e.sh -d build































