name: Upload code coverage

on:
  workflow_run:
    workflows: [measure-code-coverage]
    types:
      - completed

jobs:
  upload:
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    steps:
      - name: print info
        env: 
          GITHUB_CONTEXT: ${{toJson(github.event.workflow_run)}}
        run: echo "$GITHUB_CONTEXT"
      - name: 'Download artifact'
        uses: actions/github-script@v3.1.0
        with:
          script: |
            var artifacts = await github.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: ${{github.event.workflow_run.id }},
            });
            var matchArtifact = artifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "coverage-report"
            })[0];
            var download = await github.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            var fs = require('fs');
            fs.writeFileSync('${{github.workspace}}/coverage-report.zip', Buffer.from(download.data));
      - run: unzip coverage-report.zip
      - name: 'View files'
        run: ls -al
      - name: "Read PR number"
        run: echo "pr_number=`cat pr`" >> $GITHUB_ENV
      - name: "Read Github Ref"
        run: echo "original_github_ref=`cat github_ref`" >> $GITHUB_ENV; cat github_ref
      - name: "Read Github Repository"
        run: echo "original_github_repository=`cat github_repository`" >> $GITHUB_ENV; cat github_repository
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          repository: ${{env.original_github_repository}}
          ref: ${{env.original_github_ref}}
          path: qlever-source
      - name: "Move qlever sources up"
        run: mv qlever-source/* .
      - name: "Upload coverage report"
        uses: codecov/codecov-action@v3
        with:
          file: coverage.lcov
          # Note: technically, a `token` is not required for codecov.io when
          # uploading from a public repository, but specifying it avoids the
          # nasty spurious failures due to Github's rate limit for codecov's
          # public default token.
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          override_branch: ${{github.event.workflow_run.head_branch}}
          # Do we need the following line to work?
          override_build: ${{github.event.workflow_run.workflow_id}}
          override_commit: ${{github.event.workflow_run.head_commit.id}}
          override_pr: ${{env.pr_number}}
          
         
