name: Upload code coverage

on:
  workflow_run:
    workflows: [measure-code-coverage]
    types:
      -completed

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: 'Download code coverage'
        uses: actions/download-artifact@v3
        with:
          name: coverage-report
      - name: 'View files'
        run: ls -al
      - name: "Upload coverage report"
        uses: codecov/codecov-action@v3
        with:
          file: coverage.lcov
          # Note: technically, a `token` is not required for codecov.io when
          # uploading from a public repository, but specifying it avoids the
          # nasty spurious failures due to Github's rate limit for codecov's
          # public default token.
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
